<%= turbo_frame_tag 'tasks' do %>
<div class="col-10 mx-auto mt-5">
<%= link_to '新增任務', new_task_path, class: 'btn btn-success mb-5 float-end mt-4' %>
  <%= render 'shared/search_form', url: url %>
  <table class="table mt-3 text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">任務標題</th>
        <% if params[:controller] == 'tasks' %>
        <th scope="col"><%= link_to '任務狀態', params[:sort] == "state desc" ? tasks_path(sort: "state asc") : tasks_path(sort: "state desc") %></th> 
        <th scope="col"><%= link_to '任務優先權', params[:sort] == "priority desc" ? tasks_path(sort: "priority asc") : tasks_path(sort: "priority desc") %></th>
        <th scope="col"><%= link_to '開始時間', params[:sort] == "start_time desc" ? tasks_path(sort: "start_time asc") : tasks_path(sort: "start_time desc") %></th>
        <th scope="col"><%= link_to '結束時間', params[:sort] == "end_time desc" ? tasks_path(sort: "end_time asc") : tasks_path(sort: "end_time desc") %></th>
        <th scope="col">標籤</th>
        <% else %>
        <th scope="col"><%= link_to '任務狀態', params[:sort] == "state desc" ? admin_user_path(sort: "state asc") : admin_user_path(sort: "state desc") %></th> 
        <th scope="col"><%= link_to '任務優先權', params[:sort] == "priority desc" ? admin_user_path(sort: "priority asc") : admin_user_path(sort: "priority desc") %></th>
        <th scope="col"><%= link_to '開始時間', params[:sort] == "start_time desc" ? admin_user_path(sort: "start_time asc") : admin_user_path(sort: "start_time desc") %></th>
        <th scope="col"><%= link_to '結束時間', params[:sort] == "end_time desc" ? admin_user_path(sort: "end_time asc") : admin_user_path(sort: "end_time desc") %></th>
        <% end %>
        <th scope="col">其他功能</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.each_with_index do |task, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= task.title %></td>
          <td><%= translate_states(task.state) %></td>
          <td><%= translate_order(task.priority) %></td>
          <td><%= task.start_time.strftime("%Y/%m/%d %I:%M %p") %></td>
          <td><%= task.end_time.strftime("%Y/%m/%d %I:%M %p") %></td>
          <td>
            <% task.tags.map(&:name).each do |name| %>
            <span class="badge bg-info"><%= name %></span>
            <% end %>
          </td>
          <td>
            <%= link_to '編輯', edit_task_path(task), class: 'btn btn-primary p-0 px-3' %>
            <%= link_to '刪除', task_path(task), method: :delete, data: {confirm: '你確定要刪除這個任務？'}, class: 'btn btn-danger p-0 px-3' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <%= paginate tasks %>
</div>
<% end %>
