 <tr>
  <td><%= task.title %></td>
  <td><%= translate_states(task.state) %></td>
  <td><%= translate_order(task.priority) %></td>
  <td><%= task.start_time.strftime("%Y/%m/%d %I:%M %p") %></td>
  <td><%= task.end_time.strftime("%Y/%m/%d %I:%M %p") %></td>
  <td>
    <% task.tags.map(&:name).each do |name| %>
    <span class="badge bg-info"><%= name %></span>
    <% end %>
  </td>
  <td>
    <%= link_to '編輯', edit_task_path(task), class: 'btn btn-primary p-0 px-3' %>
    <%= link_to '刪除', task_path(task), method: :delete, data: {confirm: '你確定要刪除這個任務？'}, class: 'btn btn-danger p-0 px-3' %>
  </td>
</tr>