
<%= form_with model: @user, url: user_sign_up_path, html: {class: 'col-6 mx-auto mt-5'} do |f| %>
  <h1 class="text-center mb-5">註冊</h1>
  <%= render 'shared/error_messages', f: f %>

  <div class="mb-3">
    <%= f.label :email, '信箱' %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Steven@gmail.com' %>
  </div>
  <div class="mb-3">
    <%= f.label :password, '密碼' %>
    <%= f.password_field :password, class: 'form-control', placeholder: '密碼'  %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, '密碼確認' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '請再輸入一次密碼' %>
  </div>
  
  <%= f.button '註冊', class: 'btn btn-primary' %>
<% end %>