<%= form_tag url, method: :get do %>
  <div class="row just-content-center">
    <div class="col-3">
      <label for="">狀態</label>
      <%= select_tag 'task[state]', options_for_select(state_select_options), { include_blank: true, class: 'form-select' } %>
    </div>
    <div class="col-3">
    <label for="">優先權</label>
      <%= select_tag 'task[priority]', options_for_select(order_select_options), { include_blank: true, class: 'form-select' } %>
    </div>
    <div class="col-5">
      <label for="">標題或內容</label>
      <%= text_field_tag 'task[keyword]', {}, class: 'form-control'  %>
    </div>
    <div class="col-1 pt-4">
    <%= button_tag '搜尋' , class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>