
<%= form_for user, url: url do |f| %>
  <%= render 'shared/error_messages', f: f %>

  <div class="mb-3">
    <%= f.label :email, '信箱' %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Steven@gmail.com' %>
  </div>
  <div class="mb-3">
    <%= f.label :role, '角色' %>
    <%= f.select :role, User::ROLES.map{|role| [translate_role(role) , role]} ,{}, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :password, '密碼' %>
    <%= f.password_field :password, class: 'form-control', placeholder: '密碼'  %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, '密碼確認' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '請再輸入一次密碼' %>
  </div>
  
  
  <%= f.button submit_text, class: 'btn btn-primary' %>
<% end %>